*{padding: 0;margin: 0}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif !important;
}
.container{
    max-width: 1240px !important;
}
.uk-card.uk-card-default.uk-card-body.uk-sticky {
    margin: 0 !important;
    padding: 0;
    box-shadow: none;
}
.logo-certificate-winner-wrapper {
    margin-bottom: 11px;
}
.header-area-wrapper {
    background: #051829;
}
.adress span {
    color: white;
    font-size: 13px;
}

span.adress {
    margin-left: 10px;
}

.follow-title {
    float: left;
}

.follow-title span {
    color: white;
    font-size: 13px;
}

.follow-icons ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    transition: .3s;

}

.follow-icon {
    text-align: right;
}
.follow-icons ul li a {
    color: white;
    font-size: 15px;
    transition: .3s;
}
.follow-icons ul li a:hover{
    color: black;
}
.certificate-logo-winner {
    padding-top: 9px;
}
.icons {
    float: left;
}

.certificate-winner-card {
    float: right;
}

.awards-single-box {
    width: 249px;
}

.awards-title h4 {
    margin: 0;
    font-weight: bold;
}
.menu-bar-background {
    background: #FDC900;
}

.desktop-menu-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
}

.desktop-menu-bar {
    text-align: center;
}

.desktop-menu-bar ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    transition: .3s;
}

.desktop-menu-bar {
    padding-top: 11px;
}

.menu-bar-background {
    padding-top: 0;
}
.desktop-menu-bar ul li a:hover{
    color: white;
}
.uk-offcanvas-bar.uk-offcanvas-bar-animation.uk-offcanvas-slide {
    padding: 0px;
    background: white !important;
}
.mobile-menu-single-item a {
    text-decoration: none !important;
    color: black !important;
}

span#link-name {
    width: 100%;
}
span.w-full.pl-4{
    width: 100%;
}
.mobile-menu-list-item {
    display: flex;
}
.mobile-menu-list-item {
    padding: 7px 11px;
    border-bottom: 1px solid #00000024;
    transition: .3s;
}
.mobile-menu-list-item:hover{
    background: lightgray;
}
.mobile-menu-body {
    margin-top: 49px;
}
line {
    color: black !important;
}
.mobile-menu {
    /*text-align: right;*/
    display: none;
}
.mobile-menu-single-item {
    text-align: left;
}
.banner-content h1 {
    font-weight: bold;
    font-size: 50px;
}

.banner-content h1 span {
    color: #FDC900;
}

.banner-content p {
    font-size: 17px;
    color: white;
}

.banner-content-links a {
    text-decoration: none !important;
    padding: 0px 0px;
}

a.about-links-banner {
    background: #FDC900;
    padding: 11px 24px;
    border-radius: 5px;
    color: black;
    transition: .3s;
}
a.about-links-banner:hover{background: #051829;border: 1px solid #ffff00;}

a.explore-links-banner {
    padding: 11px 24px;
    background: #051829;
    border-radius: 5px;
    border: 1px solid #ffff00;
    transition: .3s;
}
a.explore-links-banner:hover{background: #FDC900;}
a.uk-position-center-left.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-previous.uk-slidenav {
    background: #FDC900;
    padding:  5px 11px;
    border-radius: 2px;
    color: black;
}
a.uk-position-center-right.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-next.uk-slidenav {
    background: #FDC900;
    padding:  5px 11px;
    border-radius: 2px;
    color: black;
}
.about-content {
    margin-top: 54px;
}

.about-title p {
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 5px;
    margin-bottom: 7px;
}

.about-us-slogan h1 {
    font-family: ui-serif;
    font-size: 44px;
}
.about-us-description span {
    font-size: 14px;
}

.about-us-description-list {
    margin-top: 16px;
}

.about-us-description-list ul li:before {
    font-family: "Font Awesome 5 Free";
   content: "\f054";
   /*display: inline-block;*/
   /*padding-right: 3px;*/
   /*vertical-align: middle;*/
   /*font-weight: 900;*/
   left: 12px;
   color: #FDC900;
   position: absolute;
   left: 12;
}

.about-us-description-list ul li {
    list-style: none;
}
.about-us-description-list ul li {
    padding: 5px 0px;
}
.image-wrapper {
    margin-top: 50px;
}

.image-wrapper img:first-child {
    top: 46px;
    right: 229px;
    z-index: 10;
    position: absolute;
    box-shadow: 0px 0px 3px black;
}

.image-wrapper img:nth-child(2) {
    position: absolute;
    top: 117px;
    z-index: 10;
    left: 33px;
    box-shadow: 0px 0px 3px black;
}

.image-wrapper img:nth-child(3) {
    position: absolute;
    top: 243px;
    left: 242px;
    box-shadow: 0px 0px 3px black;
}
.about-us-slogan:after {content: "";color: #FDC900;background: #FDC900;width: 137px;height: 3px;position: absolute;top: 239px;}
.awards-title span {
    font-size: 13px;
}
.about-section-wrapper {
    padding-bottom: 40px;
}
.content-img {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    padding: 8px;
    transition: .3s;
}
section.service-area {
    padding-top: 50px;
    background: #d3d3d326;
    padding-bottom: 50px;
}

.image-content {
    overflow: hidden;
    position: relative;
}

.content-img h1 {
    color: white;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
}

.content-img span {
    color: white;
    font-size: 12px;
}

.content-img:hover {
    background: orange;
}
.img-icons i {
    color: white;
    background: orange;
    padding: 15px;
    position: absolute;
    top: 0;
}
.image-single-box {
    margin-top: 32px;
}
.section-title h1 {
    font-family: ui-serif;
}
section.clients-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.clients-single-box {
    width: 100%;
    background: orange;
    padding: 44px;
}

.clients-say {
    margin-top: 17px;
}
.clienst-details {
    margin-top: 50px;
}

.clients-img {
    text-align: right;
}

.clients-name {
    text-align: left;
}

.clients-designation {
    text-align: left;
}

.clients-name p {
    margin: 0;
}

.clients-img img {
    border-radius: 50%;
}
.clients-carousel-area{
    margin-top: 50px;
}
.section-title {
    text-align: center;
}

.projects-description {
    text-align: center;
}
.projects-wrpper{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.tab-bar {
    text-align: center;
}

.tab-bar ul li {
    list-style: none;
    display: inline-block;
    color: white;
    padding: 15px;
    cursor: pointer;
}

margint-t {}

.tab-bar {
    margin-top: 24px;
}

.tab-bar ul li:after {content: "/";padding-left: 20px;}
.tab-bar ul li:last-child:after{display: none;}
h1.projects {
    color: white;
}

.projects-description span {
    color: white;
}
.project-title {
    background: white;
    padding: 0px 6px;
}
.projects-wrpper {
    padding-top: 30px;
}
.meet-out-team-wrapper {
    margin-top: 50px;
}
.ceo-image img {
    max-width: 216px;
    transition: .3s;
}

.ceo-single-box {
    margin-top: 29px;
}
.meet-out-team-wrapper{
    background: url("../img/team/web-development.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

h1.team-title {
    color: white;
}

span.team-content {
    color: white;
}
.staff-single-box {
    background: white;
    padding: 20px;
    margin-top: 33px;
}

.staff-image img {
    max-width: 234px;
}
.staff-name-designation {
    margin-top: 17px;
}
.staff-designation span {
    font-size: 13px;
}
h1.team-title {
    padding-top: 53px;
}
.meet-out-team-wrapper {
    padding-bottom: 50px;
}
.faq-accordion {
    background: #d3d3d359;
    padding: 23px;
    box-shadow: 0px 0px 13px #00000042;
}

.faq-accordion ul li {
    background: #FDC900;
    padding: 15px;
}

.faq-accordion ul li a {
    /*color: white;*/
}

a.uk-accordion-title {
} 
.uk-accordion-content {
    background: black;
    padding: 15px;
}

.uk-accordion-content p {
    color: white;
}
.article-content {
    margin-top: 22px;
}

.article-title b {
    color: #FDC900;
}

.read-more-btn {
    margin-top: 15px;
}
.read-more-btn a:hover{
    text-decoration: none !important;
    color: black;
}

.read-more-btn a {
    text-decoration: none !important;
    color: black;
    font-weight: 600;
}
.article-single-box {
    background: #F0F0F0;
    padding: 15px;
    box-shadow: 0px 0px 15px #0000002e;
}
.faq-wrapper {
    padding-top: 50px;
}
.footer-area-wrapper {
    background: #051829;
    padding: 41px;
    margin-top: 60px;
}
.get-in-touch-title{
    text-align: center;
}

.get-in-touch-title h1 {
    color: white;
    font-weight: bold;
}

.get-in-touch-input label {
    color: white;
}

.get-in-touch-input {
    margin-top: 26px;
}

.get-in-touch-input input:focus {
    box-shadow: none;
    background: white;
    border: 1px solid navy;
}

.get-in-touch-input input {
    background: none;
    transition: .3s;
}
.get-in-touch-input textarea:focus {
    box-shadow: none;
    background: white;
    border: 1px solid navy;
}

.get-in-touch-input textarea {
    background: none;
    transition: .3s;
}
.submit-btn {
    margin-top: 26px;
    text-align: center;
}

.submit-btn input {
    background: no-repeat;
    border: none;
    border: 1px solid #FDC900;
    padding: 5px 24px;
    border-radius: 5px;
    color: navajowhite;
    transition: .3s;
}

.submit-btn input:hover {
    background: #FDC900;
    color: black;
}
.footer-logo {
    text-align: center;
}

.footer-company-details p {
    color: #797979;
    font-size: 13px;
}

.footer-company-details {
    margin-top: 50px;
}

.contanct-adress ul li {
    list-style: none;
    display: block;
    padding: 15px 0px;
}

.list-icon i {
    color: #FDC900;
    font-size: 23px;
}

.list-content {
    padding-left: 24px;
}

.list-content span {
    color: white;
}
.row.justify-content-center.text-center {
    padding-right: 0px;
    margin: 0;
}
.develope-title {
    background: black;
    padding-top: 21px;
}

.develpe-title-sbit p {
    color: white;
}

.develpe-title-sbit span a {
    color: #FDC900;
    font-weight: bold;
}
.important-notice {
    background: black;
    padding: 15px;
}

.important-notice-wrapper {
    background: white;
    border: 4px solid  #FDC900;
}

.important-notice-title.text-center h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px solid black;
    padding-bottom: 14px;
    padding-top: 15px;
}

.important-notice-scroll {
    padding: 0px 25px;
    padding-bottom: 10px;
}








/*responsive css starth here*/
@media screen and (max-width: 992px)
{
    .adress-mail {
    text-align: center;
}
.follow-icons {
    text-align: center;
}
.adress span{
    font-size: 12px;
}
.follow-icons {
    margin-top: 18px;
}
.adress-mail {
    border-bottom: 1px solid white;
    padding-bottom: 14px;
}
.top-header-area {
    display: none;
}
.image-holder {
    display: none;
}
.about-us-slogan:after{display: none;}

}



@media screen and (max-width: 768px)
{
    .logo-img {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.certificate-winner-card {
    margin: auto;
    text-align: left;
    /*justify-content: center;*/
    /*align-items: center;*/
    float: none;
}
.certificate-winner-card {
    margin-top: 18px;
    overflow: hidden;
    position: relative;
}
.awards-title h4 {
    font-size: 16px;
}

.awards-title span {
    font-size: 8px;
}

.awards-single-box {
    width: 200px;
}
.footer-logo {
    margin-top: 47px;
}
.tab-bar ul li{
    padding: 4px;
}
.about-us-slogan h1{
    font-size: 30px;
}
.section-title-description span {
    font-size: 11px;
}
.banner-content h1 {
    font-size: 23px;
}






}



@media screen and (max-width: 644px){
    .desktop-menu-bar {
    display: none;
}
.mobile-menu {
    text-align: right;
    display: block;
}


}


/*responsive css end here*/